@{{generatedBy}}("{{mnemonic}}")
public static {{class}} fromMap({{Map}} map) {
    return fromMap0(map,new java.util.IdentityHashMap<>());
}
public static {{class}} fromMap0({{Map}} map,{{Map}}<{{Map}},Object> cache) {
    if( cache.containsKey(map)){
        return ({{class}})cache.get(map);
    }
    final {{class}} it = {{factory}};
    cache.put(map,it);